header.light {
  padding: 40px;
  border: 10px solid #000;
}

header.dark {
  padding: 40px;
  border: 10px solid #000;
  background-color: #000;
  color: #fff;
}

footer.light {
  padding: 40px;
  border: 10px solid #000;
}

footer.dark {
  padding: 40px;
  border: 10px solid #000;
  background-color: #000;
  color: #fff;
}

.main-wrapper {
  margin: 0;
  padding: 0;
  background-color: #2e3;
  h1 {
    margin: 0;
  }
  h2 {
    margin: 0;
  }
}
